.register__form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin:0 auto;
}
.register__form input{
  margin:12px 0;
}
.register__form input[type="text"],
.register__form input[type="tel"],
.register__form input[type="email"]{
  height:40px;
  padding-left:15px;
  border-radius: 5px;
  border:1px solid #ccc;
}
